@font-face {
    font-family: 'barlow-bold';
    src: url(/fonts/Barlow-Bold.ttf);
}
@font-face {
    font-family: 'barlow-regular';
    src: url(/fonts/Barlow-Regular.ttf);
}
@font-face {
    font-family: 'barlow-medium';
    src: url(/fonts/Barlow-Medium.ttf);
}
@font-face {
    font-family: 'barlow-black';
    src: url(/fonts/Barlow-Black.ttf);
}