@import "reset";
@import "fonts";
@import "variables";
@import "mixins";


header {
  border: 1px solid;
  margin: 10px;
  display: flex;
  justify-content: space-between;

  .logo {
    padding: 20px;
  }

  button.button {
    @include buttons;
  }
} // end header

main {
  .one {
    margin: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
    border: 1px solid;
    @include mQ(624px){
        display: inline-block;
        width: 350px;
        position: relative;
        bottom: 100px;
    }
    h1 {
      @include heading;
      text-align: left;
      margin-left: 0;
      @include mQ(360px) {
        // white-space: pre-line;
        margin-left: 1rem;
        margin-bottom: 0;
      }
    }

    p {
      @include paragraph;
      text-align: left;
      margin-left: 1.2em;
      margin-bottom: 1.4rem;
      @include mQ(360px) {
        // white-space: pre-line;
        margin-left: 2rem;
        margin-top: 0;
      }
    }
  }
  .three {
    @include mQ(624px){
        display: inline-block;
        @include img(200px, 300px, "/assets/tablet/image-keyboard.jpg");
        align-self: center;
        text-align: center;
        position: relative;
        border-radius: 10px 0 0 10px;
        // top: 60px;
    }
  }
  .two {
    button {
      @include buttons;
      background: $primary;
      color: #fff;
      &:hover {
        color: $primary;
        background: #fff;
        border: 1px solid $primary;
        cursor: pointer;
      }
    }
    h3 {
      @include buttons;
      color: $paraColor;
      background: none;
    }
    @include mQ(360px) {
      display: flex;
      justify-content: space-between;
    }
    @include mQ(624px) {
        justify-content: left;
        position: relative;
        top: -80px;
        margin-bottom: 0;
        padding-bottom: 0;
      }
  }
  

  section#sec1 {
    border: 1px solid;
    margin: 20px;
    .img1 {
      @include img(200px, 300px, "/assets/mobile/image-keyboard.jpg");
      border-radius: 10px 0 0 10px;
      @include mQ(360px) {
        width: 250px;
      }
      @include mQ(400px) {
        width: 300px;
      }
      @include mQ(500px) {
        width: 370px;
      }
      @include mQ(624px) {
        @include img(0, 0, "");
        // width: 150px;
        margin: 0;
        pad: 0
      }
    }
    .img2 {
      @include img(200px, 200px, "/assets/mobile/image-phone-and-keyboard.jpg");
      background-color: $primary;
      background-blend-mode: multiply;
      border-radius: 0px 15px 15px 0px;
      @include mQ(360px) {
        width: 100px;
        display: inline-block;
        margin-left: 5px;
      }
      @include mQ(400px) {
        width: 120px;
      }
      @include mQ(500px) {
        width: 150px;
      }
      @include mQ(624px) {
        @include img(130px, 200px, "/assets/tablet/image-phone-and-keyboard.jpg");
        background-size: cover;
        border-radius: 15px;
      }
    }
    .img3 {
      @include img(200px, 200px, "/assets/mobile/image-glass-and-keyboard.jpg");
      border-radius: 15px;
      @include mQ(360px) {
        width: 150px;
        margin-left: 5px;
        display: inline-block;
      }
      @include mQ(400px) {
        width: 180px;
      }
      @include mQ(500px) {
        width: 220px;
      }
      @include mQ(624px) {
        @include img(350px, 200px, "/assets/tablet/image-glass-and-keyboard.jpg"); 
      }
      @include mQ(750px) {
        @include img(480px, 200px, "/assets/desktop/image-glass-and-keyboard.jpg"); 
        background-size: cover;
      }
    }
    @include mQ(900px) {
        max-width: 720px;
        display: inline-block;
        float: left;
      }
  }

  @mixin private {
    margin-left: 0;
    padding-left: 0;
  }
  section h2 {
    @include heading;
    text-align: center;
    @include mQ(360px) {
      @include private();
    }
    // font-size: 2em;
  }
  section p {
    @include paragraph;
    text-align: center;
    @include mQ(360px) {
      @include private();
    }
  }

  section.text {
    border: 2px solid;
    padding: 0;
    margin: 10px;
    h2 {
      padding: 0;
      margin: 0;
      @include mQ(624px) { 
          text-align: left;
      }
    }
    p {
      margin: 0;
      padding-top: 0;
      width: 400px;
      @include mQ(200px) {
        width: auto;
      }
      @include mQ(360px) {
        width: auto;
      }
      @include mQ(624px) { 
        text-align: left;
    }
    } 
      @include mQ(624px) {
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      @include mQ(900px) {
        width: auto;
        display: inline-block;
        // flex-direction: column;
        // float: right;
      }
  }

  section.shared {
    border: 1px solid;
    margin: 20px;
    padding-left: 0;
    @include feature;

    .feature {
      p {
        margin-bottom: 0;
      }
    }
    @include mQ(624px) {
        @include feature2;
      }
      @include mQ(900px) {
        @include feature3;
      }
  }
} // end main

 footer {
     margin: 20px;
     padding: 20px;
     text-align: center;
     
     h4 {
         span {
             color: $paraColor;
             padding: 5px;
         }
     }

 } // end footer
